name: Build go app and push to azure


on:
  push:
    branches: [master]

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build
        run: go build server/go/pocketbase.go -o server/go/build/pocketbase -v

      - name: Deploy to azure
        uses: azure/webapps-deploy@v2
        with: 
          app-name: reportascam
          package: build/
          publish-profile: ${{secrets.AZURE_WEBAPP_PUBLISH_PROFILE}}
